* {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #AFAFAF;
  --green: #C0DEAC;
  --darkgreen: #597C5C;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--grey);
  font-family: 'Alice', serif;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--darkgreen);
  font-weight: bold;
  font-size: 20px;
  transition: color .1s;
}

a:hover {
  color: var(--green);
}

button {
  background-color: var(--darkgreen);
  border: 0;
  padding: 10px;
  color: var(--black);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--green);
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--green);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
  padding: 5px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-container {
  display: flex;
}

.header-container img {
  width: 80px;
}

.header-container h1 {
  font-size: 45px;
  color: var(--darkgreen);
  font-family: 'Fredoka One', cursive;
}

main {
  flex: 1;
  padding: 2% 4%;
  background-color: var(--white);
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
h2 {
  font-family: 'Fredoka One', cursive;
  font-size: 25px;
  text-align: center;
}

.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: var(--green);
  border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 10px;
}

.login-img-container img {
  width: 250px;
}

.signup-container {
  background-color: var(--green);
  border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 10px;
}

.create-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-img-container img {
  width: 250px;
}

.create-form-container {
  background-color: var(--green);
  border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  background-color: var(--green);
  border-radius: 10px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  padding: 10px;
  margin: 15px;
}

.post-title {
  text-align: left;
}

.post-text {
  font-size: 20px;
}

.post-link:hover {
  color: white;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
  text-align: center;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--green);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.single-post-img {
  text-align: center;
  width: 200px;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.btn-no-style {
  background-color: var(--grey);
  border: none;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--darkgreen);
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
  font-family: 'Alice', serif;
  font-size: 20px;
}

.btn-no-style:hover {
  color: var(--green);
  background-color: var(--grey);
}

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}