<article class="post">
  <div class="title-container">
    <h2 class="post-title">{{post.title}}</h2>
  </div>
  <div class="post-text-container">
    <p class="post-text">{{post.post_text}}</p>
  </div>
  <div class="meta">
    {{post.vote_count}} {{post.vote_count|format_plural('upvote')}} by <b>{{post.user.username}}</b> on {{post.created_at|format_date}}
    |
    <a href="/post/{{post.id}}" class="post-link">{{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a>
  </div>
</article>