{% extends "layout/main.html" %}

{% block body %}
{% include "partials/post-info.html" %}

{% if loggedIn == True %}
<div class="comment-container">
  <div>
  <img class="single-post-img" src="/images/snakeheart.png" alt="cartoon snake with heart" />
  </div>
  <div>
    <form class="comment-form">
      <div>
        <textarea name="comment-body"></textarea>
      </div>
      <div>
        <button type="submit">add comment</button>
        <button type="button" class="upvote-btn">upvote</button>
      </div>
    </form>
  </div>
</div>
{% endif %}

{% with comments=post.comments %}
  {% include "partials/comments.html" %}
{% endwith %}

{% if loggedIn == True %}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{% endif %}

{% endblock %}